.container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 24px 16px 0px 16px;
    z-index: 2;
}

.logo {
    transform: translateX(32vw) scale(1.5);
    animation: entranceLogo ease-in-out 600ms 400ms forwards;
}

@keyframes entranceLogo {
    100% {
        transform: translateX(0) scale(1);
    }
}

.burger {
    cursor: pointer;
    opacity: 0;
    animation: entranceBurger 600ms 900ms ease-in forwards;
}

@keyframes entranceBurger {
    100% {
        opacity: 1;
    }
}

.linksContainer {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desktop__links {
    display: none;
}

.contactButton__container {
    display: none;
}

@media only screen and (min-width : 768px) {
    .container {
        padding: 24px 60px 0px 30px;
    }

    .logo {
        width: 44px;
        height: 38px;
    }
}


@media only screen and (min-width : 1200px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 24px 60px 0px 60px;
    }

    .burger {
        display: none;
    }

    .linksContainer {
        width: fit-content;
    }

    .contactButton__container {
        display: block;
    }

    .desktop__links {
        display: flex;
        justify-content: space-evenly;
    }

    .desktop__links__list {
        display: flex;
        gap: 48px;
        list-style: none;
    }

    .link {
        font-weight: 500;
        font-size: 1rem;
    }

    .link__active {
        color: #2567a5;
        font-weight: 600;
        font-size: 1rem;
    }

}

@media only screen and (min-width : 1700px) {
    .container {
        padding: 24px 105px 0px 105px;
    }

    .logo {
        width: 60px;
        height: 53px;
    }

    .desktop__links__list {
        gap: 56px;
    }

    .link {
        font-size: 1.25rem;
    }

    .link__active {
        font-size: 1.25rem;
    }
}