.container {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 16px 16px 16px 16px;
    z-index: 2;
    background-color: var(--neutrals-800);
    transform: translateY(-100px);
    animation: entranceHeader 0.3s 0.3s ease-in forwards;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 10px;
    align-items: center;
}

.nav__list__desktop {
    display: none;
    list-style: none;
    color: var(--neutrals-200);

}

.burger {
    cursor: pointer;
}

@keyframes entranceHeader {
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


.contactButton__container {
    display: none;
}


.cart__icon {
    display: flex;
    gap: 2px;
    align-items: center;
}

@media only screen and (min-width : 768px) {
    .container {
        padding: 20px 60px 20px 30px;
    }

    .logo {
        width: 140px;
        height: auto;
    }

    .nav__list {
        gap: 24px;
    }

    .cart__icon img {
        width: 30px;
        height: 30px;
    }
}


@media only screen and (min-width : 1200px) {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 20px 60px 20px 60px;
    }

    .burger {
        display: none;
    }

    .nav__list__desktop {
        display: flex;
        gap: 32px;
        align-items: center;
    }

    .logo {
        width: 130px;
        height: 30px;
    }

    .contactButton__container {
        display: block;
    }

    .link {
        font-weight: 500;
        font-size: 1rem;
    }

    .link__active {
        color: var(--primary-600);
        font-weight: 600;
        font-size: 1rem;
    }

    /* Icones cart and download ***********/
    .mobile__icons {
        display: none;
    }
}

@media only screen and (min-width : 1700px) {
    .container {
        padding: 48px 105px 48px 105px;
    }

    .logo {
        width: 165px;
        height: 38px;
    }

    .nav__list__desktop {
        gap: 48px;
    }

    .link {
        font-size: 1.25rem;
    }

    .link__active {
        font-size: 1.25rem;
    }
}