.notFound__message {
    text-align: center;
    font-weight: 600;
    padding: 16px;
    margin: 0px 16px 200px 16px;
    background: var(--neutrals-700);
    border-radius: 10px;
}

.notFound__message a {
    color: var(--primary-600);
    text-decoration: underline;
    font-weight: 600;
}

@media only screen and (min-width : 768px) {
    .notFound__message {
        max-width: 50vw;
        align-self: center;
    }
}