.container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 0px 16px 200px 16px;
}

.emptyCart__message {
    text-align: center;
    font-weight: 600;
    padding: 16px;
    margin: 0px 0px;
    background: var(--neutrals-700);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
}


.cartItems__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cartItems__li {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cartItems__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartItems__photos {
    min-width: 80px;
    min-height: 80px;
    background-color: var(--neutrals-800);
}

.trashAndName {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 1.125rem;
    color: var(--primary-600);
    font-weight: 800;
}

.cartItems__price {
    color: var(--neutrals-200);
    font-family: var(--font-lato);
    font-weight: 600;
}

.cartItems__list img {
    object-fit: cover;
}

.photoAndRemove__wrapper {
    display: flex;
    gap: 8px;
    align-items: center;
}

.trash__container {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--neutrals-200);
}

.add__photos {
    outline: none;
    border: 2px solid var(--neutrals-300);
    background-color: transparent;
    color: var(--neutrals-300);
    padding: 8px;
    width: fit-content;
    border-radius: 3px;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.93rem;
}

/* Payment container  **************************/

.payment__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}


.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price__total {
    color: var(--primary-600);
    font-size: 2rem;
    font-weight: 500;
}

.price__totalText {
    color: var(--neutrals-200);
    font-size: 2rem;
    font-weight: 500;
}

.payment__helpMessage {
    font-style: italic;
}

.payment__helpMessage a {
    text-decoration: underline;
    font-weight: 600;
    color: var(--primary-600);
}

.payment__button {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 24px;
    height: 40px;
    gap: 10px;
    width: 100%;
    background-color: var(--primary-800);
    cursor: pointer;
    border-radius: 5px;
    color: var(--neutrals-200);
    font-family: var(--font-lato);
    font-size: 1.125rem;
    font-weight: 600;
}

/* Buttons container  */
.buttons__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    align-self: center;
}

/* conditions generales button */
.conditions__button {
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    color: var(--neutrals-200);
    text-decoration: underline;
    width: 100%;
    height: 40px;
}

.conditions__button a {
    font-size: 1rem;
}

@media only screen and (min-width : 768px) {
    .container {
        padding: 0px 30px 200px 30px;
        max-width: 60vw;
    }

    .add__photos {
        padding: 8px 16px;
        font-size: 1rem;
    }

    .cartItems__price {
        font-size: 1.125rem;
    }

}

@media only screen and (min-width : 1200px) {
    .container {
        padding: 0px 60px 200px 60px;
        max-width: 50vw;
    }
}

@media only screen and (min-width : 1700px) {
    .container {
        padding: 0px 105px 200px 105px;
        max-width: 45vw;
    }
}