.main {
    min-height: 100vh;
    padding: 120px 16px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}


.main__header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main__header a {
    text-decoration: underline;
    color: var(--primary-600);
}

.page__list {
    list-style: none;
    color: var(--neutrals-200);
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.main h1 {
    font-size: 2rem;
}

.main h2 {
    font-size: 1.5rem;
}

.main h3 {
    font-size: 1.125rem;
    color: var(--primary-600);
    text-transform: inherit;
}

.sommaire {
    text-decoration: underline;
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sections a {
    text-decoration: underline;
}

.sections__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
}

.sections__list__cgv {
    list-style: decimal;
    color: var(--neutrals-200);
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    font-family: var(--font-lato);
    gap: 16px;
}


.sections__list strong {
    color: var(--primary-600);
}

.sub__sections {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.buttons__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

@media only screen and (min-width : 768px)  {
    .main {
        padding: 120px 30px;
    }
    
    .main h3 {
        font-size: 1.25rem;
    }
}

@media only screen and (min-width : 1200px)  {
    .main {
        padding: 120px 60px;
    }
}

@media only screen and (min-width : 1700px)  {
    .main {
        padding: 180px 105px;
    }

    .main h1 {
        font-size: 2.5rem;
    }
    
    .main h2 {
        font-size: 2rem;
    }
    
    .main h3 {
        font-size: 1.5rem;
    }
}