.button__container,
.button__container__secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    height: 36px;
    width: fit-content;
    background-color: var(--primary-800);
    cursor: pointer;
    border-radius: 3px;
}

.button__container a,
.button__container p,
.button__container__secondary a,
.button__container__secondary p {
    color: var(--neutrals-100);
}

/* Bouton secondaire */

.button__container__secondary {
    background-color: var(--primary-900);
}


/* Bouton primaire small */
.button__container__small {
    height: 36px;
    padding: 0px 16px;
}


@media only screen and (min-width : 768px) {

    .button__container,
    .button__container__secondary {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 24px;
    }
}

@media only screen and (min-width : 1700px) {

    .button__container,
    .button__container__secondary {
        /* padding: 0px 32px; */
        height: 44px;
    }
}