.list__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    list-style: none;
    padding: 0px 16px;
    width: 100%;
}

.list__container li {
    min-width: 100%;
    min-height: 157px;
    height: 157px;
    background-color: rgba(0, 0, 0, 0.205);
}

.list__container li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}

/* Galery */

.galery__wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 999;
}

.galery__image__wrapper {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.galery__container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.images__container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.images {
    max-width: 100vw;
    width: 100vw;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    background-color: black;
    pointer-events: none;
}


/* Navigation galery */

.galery__buttons__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 16px;
}

.galery__buttons {
    cursor: pointer;

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 4px;
}

.dot,
.dot__active {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dot__active {
    background-color: var(--primary-800);
}

.close__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    border-radius: 30px;
    background-color: #161616;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--neutrals-200);
}

.close__button:focus-visible {
    outline: 2px solid var(--neutrals-200);
}

@media only screen and (min-width : 768px) {
    .list__container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0px 30px;
    }

    /* Galery */

    .galery__wrapper {
        position: fixed;
        width: 100vw;
        height: 100vh;
        max-width: 100vw;
        padding: 0px 0px 16px 0px;
    }

    .images {
        max-width: 100vw;
        width: auto;
        height: auto;
        max-height: 80vh;
        object-fit: cover;
        background-color: black;
        pointer-events: none;
    }
}


@media only screen and (min-width : 1200px) {
    .list__container {
        padding: 0px 60px;
    }

    .list__container li {
        width: auto;
        height: 278px;
    }
    
    /* Navigation galery */
    .galery__buttons__container {
        width: fit-content;
        gap: 48px;
    }

    .galery__buttons {
        width: 40px;
        height: 40px;
    }

    .pagination {
        gap: 8px;
    }

    .close__button {
        padding: 8px 32px;
        font-size: 1.125rem;
    }
}

@media only screen and (min-width : 1700px) {
    .list__container {
        padding: 0px 105px;
        width: 100%;
        gap: 48px;
    }

    .list__container li {
        width: auto;
        height: 387px;
    }
}