:root {
  --neutrals-900: #181414;
	--neutrals-800: #1d1d1d;
	--neutrals-700: #212121;
	--neutrals-600: #3b3b3c;
	--neutrals-500: #5c5d5d;
	--neutrals-400: #8d8d8e;
	--neutrals-300: #b9babc;
	--neutrals-200: #dddedf;
	--neutrals-100: #ededed;
	
	--primary-900: #313b47;
	--primary-800: #354d6c;
	--primary-700: #46668e;
	--primary-600: #9da9bc;
	--primary-500: #c2c9d4;

  --background: #181414;

  --button-boxShadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

body {
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: var(--font-source);
  text-transform: uppercase;
  font-weight: 700;
  color: var(--neutrals-100);
}

h1 {
   font-size: 2.25rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p, a {
  font-size: 1rem;
  font-family: var(--font-lato);
  font-weight: 400;
  color: var(--neutrals-200);
  font-size: inherit;
}

p {
  line-height: 150%;
}

a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (min-width : 1700px) {
  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.5rem;
  }

  p, a {
    font-size: 1.5rem;
  }
}

