.main {
  display: flex;
  flex-direction: column;
  gap: 200px;
  min-height: 100vh;
}

/* Hero section */

.hero__section__banner {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  opacity: 0.1;
  animation: Entrance 600ms 900ms ease-in forwards;
}

@keyframes Entrance {
  100% {
    opacity: 1;
  }
}

.hero__section__contentWrapper {
  position: relative;
  margin-top: -7vh;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  opacity: 0.1;
  animation: titleEntrance 600ms 900ms ease-in forwards;
}

@keyframes titleEntrance {
  100% {
    opacity: 1;
  }
}

.contentWrapper__title {
  color: var(--neutrals-100);
}

.contentWrapper__title span {
  color: var(--primary-700);
}

.contentWrapper__description {
  color: var(--neutrals-200);
}

.contentWrapper__buttonsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}

/* Prestation section */
.sections48__container {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

/************************ Toutes les sections  ********************/
.sections__headers {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sections__headers__center {
  align-items: center;
  text-align: center;
}

