.main {
  display: flex;
  flex-direction: column;
  gap: 200px;
  min-height: 100vh;
}

/* Hero section */

.hero__section__banner {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
  transform: translateY(-50px);
  opacity: 0.3;
  animation: PhotoEntrance 0.3s 0.3s ease-in forwards;
  pointer-events: none;
  user-select: none;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

@keyframes PhotoEntrance {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.hero__section__contentWrapper {
  position: relative;
  margin-top: -7vh;
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  opacity: 0.3;
  transform: translateY(50px);
  animation: contentWrapperEntrance 0.3s 0.3s ease-in forwards
}

@keyframes contentWrapperEntrance {
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.contentWrapper__title {
  color: var(--neutrals-100);
}

.contentWrapper__title span {
  color: var(--primary-700);
}

.contentWrapper__description {
  color: var(--neutrals-200);
}

.contentWrapper__buttonsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  width: 100%;
}

/* Prestation section */
.sections48__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

/* Gift cards */
.offer {
  padding: 5px 10px;
  background-color: var(--neutrals-600);
  border-radius: 5px;
  margin-bottom: 24px;
}

.giftCardCTA {
  text-align: center;
  max-width: 80vw;
  align-self: center;
}

/* Portfolio */
.portfolio__button__container {
  width: fit-content;
  align-self: center;
}

/* About section  **************/
.sections32__container {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about__responsive__wrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 0px 16px;
}

.about__banner {
  width: 100%;
  height: auto;
  object-fit: cover;
  align-self: center;
  user-select: none;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
}

/* Contact sectioon ************/

.section__contact {
  background-color: var(--neutrals-700);
  padding: 32px 0px;
  margin-bottom: 200px;
}

.contact__email {
  font-size: 30px;
  color: var(--neutrals-200);
  opacity: 0.2;
  font-weight: 200;
  transition: all 0.6s ease-in-out;
}

.contact__email:hover,
.contact__email:active {
  opacity: 1;
}


/************************ Toutes les sections  ********************/
.sections__headers {
  padding: 0px 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sections__headers__center {
  align-items: center;
  text-align: center;
}

@media only screen and (min-width : 768px) {

  /************************ Toutes les sections  ********************/
  .sections32__container {
    gap: 80px;
  }

  .sections48__container {
    gap: 80px;
  }

  .sections__headers {
    padding: 0px 30px;
    gap: 24px;
  }

  .sections__headers p {
    max-width: 70vw;
  }

  /* Hero section *******************************/

  .hero__section__contentWrapper {
    padding-left: 30px;
    gap: 32px;
    max-width: 80vw;
    margin-top: -6vh;
  }

  /* Gift cards */
  .giftCardCTA {
    text-align: center;
    max-width: 70vw;
    align-self: center;
  }

  /* About section  **************/
  .about__responsive__wrapper {
    padding: 0px 30px;
    flex-direction: row-reverse;
    height: fit-content;
  }

  .about__banner {
    width: 40%;
    align-self: flex-start;
  }


  /* Contact sectioon ************/

  .section__contact {
    padding: 64px 0px;
  }

  .contact__email {
    font-size: 64px;
  }

}


@media only screen and (min-width : 1200px) {

  /************************ Toutes les sections  ********************/
  .sections__headers {
    padding: 0px 60px;
  }

  .sections__headers p {
    max-width: 50vw;
  }


  /* ************************************************************* */

  /* hero section **************************************************/

  .hero__section {
    display: flex;
    flex-direction: row-reverse;
  }

  .hero__section__banner {
    width: 40vw;
    height: 100vh;
    object-fit: cover;
    transform: translateX(200px);
    opacity: 0.3;
    animation: PhotoEntrance 0.3s 0.3s ease-in forwards;
  }


  .hero__section__contentWrapper {
    position: absolute;
    left: 0;
    padding-left: 60px;
    top: 180px;
    gap: 64px;
    transform: translateX(-200px);
    animation: contentWrapperEntrance 0.3s 0.3s ease-in forwards
  }

  .contentWrapper__description {
    max-width: 40vw;
  }

  /* Gift cards */
  .giftCardCTA {
    max-width: 35vw;
  }

  /* About  */

  .about__responsive__wrapper {
    padding: 0px 60px;
    align-items: center;
    gap: 80px;
  }

  .about__banner {
    width: 32%;
  }

  /* Contact sectioon ************/

  .section__contact {
    padding: 64px 0px;
  }

  .contact__email {
    font-size: 80px;
  }

}


@media only screen and (min-width : 1700px) {
  .sections__headers {
    padding: 0px 105px;
    /* display: flex;
      flex-direction: column;
      gap: 16px; */
  }

  /* Gift cards */
  .giftCards__button__container {
    padding: 0px 100px;
  }

  /* About  */

  .about__responsive__wrapper {
    padding: 0px 105px;
    align-items: center;
    gap: 120px;
  }

  .about__banner {
    width: 32%;
  }

  /* Hero section */
  .hero__section__contentWrapper {
    position: absolute;
    left: 0;
    padding-left: 105px;
    top: 260px;
    gap: 64px;
    transform: translateX(-200px);
    animation: contentWrapperEntrance 0.3s 0.3s ease-in forwards
  }

  .hero__section__banner {
    width: 40vw;
  }

  .contact__email {
    font-size: 88px;
  }

}