.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hero__section__banner {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}

.hero__section__content__wrapper {
  position: relative;
  margin-top: -7vh;
  padding: 0px 16px;

}

.hero__section__content__title {
  color: var(--neutrals-100);
}

.hero__section__content__title span {
  color: var(--primary-700);
}

.hero__section__content__description {
  color: var(--neutrals-200);
}

