.sections {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sections header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sections header h3 {
    text-transform: initial;
    color: var(--primary-600);
}

.sections header p {
    font-style: italic;
    color: var(--neutrals-200);
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
}

.input {
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--neutrals-200);
    color: var(--neutrals-200);
    box-shadow: none;
    font-size: 1rem;
    max-width: 70%;
}

.input__error {
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--neutrals-200);
    color: var(--neutrals-200);
    box-shadow: none;
    font-size: 1rem;
    max-width: 55%;
    border-bottom: 2px solid var(--error);
}

.error__message span {
    font-style: italic;
    font-weight: 600;
}

.input__error::placeholder {
    color: var(--error);
} 

.input::placeholder {
    color: var(--neutrals-400);
}

.container label {
    display: none;
}

.submit__button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: var(--primary-800);
    gap: 8px;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    width: fit-content;
    font-family: var(--font-lato);
    font-size: 1rem;
    cursor: pointer;
}

/* Files List  *************/
.files__section {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 0px 16px 200px 16px;
}

.files__list {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 16px;
}

.list__elements {
    width: fit-content;
    height: auto;
    cursor: pointer;
}

.elements__images {
   width: 150px;
   height: 150px;
   object-fit: cover;
}