/* Section principale ****************************/
.main__section {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 0px 16px 200px 16px;
}

/* Pour les deux sous sections  ******************/
.sections {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.sections header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.sections header h3 {
    text-transform: initial;
    color: var(--primary-600);
}

.sections header p {
    font-style: italic;
    color: var(--neutrals-200);
}

/* Form (sous section 1) **********************************/
.form__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.input__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
}

.input {
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--neutrals-200);
    color: var(--neutrals-200);
    box-shadow: none;
    font-size: 1rem;
    width: 60%;
}

.input__error {
    height: 40px;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--neutrals-200);
    color: var(--neutrals-200);
    box-shadow: none;
    font-size: 1rem;
    width: 60%;
    border-bottom: 2px solid var(--error);
}

.error__message span {
    font-style: italic;
    font-weight: 600;
}

.input__error::placeholder {
    color: var(--error);
}

.input::placeholder {
    color: var(--neutrals-400);
}

.form__container label {
    display: none;
}

.submit__button {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background-color: var(--primary-800);
    gap: 8px;
    color: #ffffff;
    padding: 8px 16px;
    border-radius: 5px;
    width: fit-content;
    font-family: var(--font-lato);
    font-size: 1rem;
    cursor: pointer;
}

/* Files List (sous section 2)  **********************/

.files__list {
    width: 100%;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    gap: 16px;
}

.list__elements {
    width: fit-content;
    height: auto;
    cursor: pointer;
}

.elements__images {
    width: 150px;
    height: 150px;
    object-fit: cover;
    background-color: var(--neutrals-800);
}

@media only screen and (min-width : 768px) {

    /* Section principale ****************************/
    .main__section {
        padding: 0px 30px 200px 30px;
    }
}


@media only screen and (min-width : 1200px) {

    /* Section principale ****************************/
    .main__section {
        padding: 0px 60px 200px 60px;
    }

    /* Pour les deux sous sections  ******************/
    .sections {
        gap: 32px;
    }

    /* Form (sous section 1) *************************/

    .input__wrapper {
        width: 400px;
        max-width: 400px;
    }

    .input {
        font-size: 1.125rem;
    }

    .input__error {
        font-size: 1.125rem;
    }

    .submit__button {
        font-size: 1.125rem;
    }

    /* Files List (sous section 2)  **********************/

    .files__list {
        gap: 24px;
    }

    .elements__images {
        width: 200px;
        height: 200px;
    }
}