.container {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

/* Buttons cat *******************************/
.buttons__wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.buttons__container {
    display: flex;
    gap: 10px;
    align-items: center;

}

.buttons {
    outline: none;
    border: none;
    background-color: var(--primary-900);
    border-radius: 32px;
    font-size: 1rem;
    color: var(--neutrals-200);
    padding: 8px 32px;
    cursor: pointer;
}

.buttons__active {
    background-color: var(--primary-800);
}

/* Help message ************************************/

.helpMessage__container {
    display: flex;
    gap: 8px;
    align-items: center;
}

.helpMessage__container p {
    font-size: 0.93rem;
}

/* render Images small **************************/

.images__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.images__small {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Galery ***************************************/

.galery__wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    max-width: 100vh;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    z-index: 999;
}

.galery__image__wrapper {
    width: 100vw;
    height: 80vh;
    overflow: hidden;
}

.galery__container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.images__container {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: grab;
}

.images {
    max-width: 100vw;
    width: 100vw;
    height: auto;
    max-height: 80vh;
    object-fit: cover;
    background-color: black;
    pointer-events: none;
}

.loadingMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    text-align: center;
}


/* Navigation galery *************************************/

.galery__buttons__container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0px 16px;
}

.galery__buttons {
    cursor: pointer;

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 4px;
}

.dot,
.dot__active {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.dot__active {
    background-color: var(--primary-800);
}

.close__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 24px;
    border-radius: 30px;
    background-color: #161616;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1rem;
    color: var(--neutrals-200);
}

.close__button:focus-visible {
    outline: 2px solid var(--neutrals-200);
}

@media only screen and (min-width : 768px) {
    .container {
        padding: 0px 30px;
    }

    /* Buttons cat *******************************/

    .buttons__container {
        gap: 16px;

    }

    .buttons {
        font-size: 1.125rem;
        padding: 10px 32px;
    }

    /* Help message ************************************/

    .helpMessage__container img {
        width: 18px;
        height: 18px;
    }

    .helpMessage__container p {
        font-size: 1rem;
    }
}

@media only screen and (min-width : 1200px) {
    .container {
        padding: 0px 60px;
    }
}

@media only screen and (min-width : 1700px) {
    .container {
        padding: 0px 105px;
    }
}