.main {
    display: flex;
    flex-direction: column;
    gap: 200px;
    min-height: 100vh;
  }
  
  /* Hero section */
  
  .hero__section__banner {
    width: 100vw;
    height: 60vh;
    object-fit: cover;
    transform: translateY(-50px);
    opacity: 0.3;
    animation: PhotoEntrance 0.3s 0.3s ease-in forwards;
  }
  
  @keyframes PhotoEntrance {
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  
  .hero__section__contentWrapper {
    position: relative;
    margin-top: -7vh;
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    opacity: 0.3;
    transform: translateY(50px);
    animation: contentWrapperEntrance 0.3s 0.3s ease-in forwards
  }
  
  @keyframes contentWrapperEntrance {
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  
  .contentWrapper__title {
    color: var(--neutrals-100);
  }
  
  .contentWrapper__title span {
    color: var(--primary-700);
  }
  
  .contentWrapper__description {
    color: var(--neutrals-200);
  }
  
  .contentWrapper__buttonsContainer {
    display: flex;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;
    width: 100%;
  }
  
  /* Prestation section */
  .sections48__container {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
  /* Portfolio */
  .portfolio__button__container {
    width: fit-content;
    align-self: center;
  }
  
  /* About section  **************/
  .sections32__container {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .about__responsive__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
  .about__bio {
    padding: 0px 16px;
  }
  
  /* Contact sectioon ************/
  
  .section__contact {
    background-color: var(--neutrals-700);
    padding: 32px 0px;
    margin-bottom: 200px;
  }
  
  .contact__email {
    font-size: 30px;
    color: var(--neutrals-200);
    opacity: 0.2;
    font-weight: 200;
    transition: all 0.6s ease-in-out;
  }
  
  .contact__email:hover,
  .contact__email:active {
    opacity: 1;
  }
  
  
  /************************ Toutes les sections  ********************/
  .sections__headers {
    padding: 0px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .sections__headers__center {
    align-items: center;
    text-align: center;
  }
  
  @media only screen and (min-width : 768px) {
  
    /************************ Toutes les sections  ********************/
    .sections32__container {
      gap: 80px;
    }
  
    .sections48__container {
      gap: 80px;
    }
  
    .sections__headers {
      padding: 0px 30px;
      gap: 24px;
    }
  
    .sections__headers p {
      max-width: 70vw;
    }
  
    /* Hero section *******************************/
  
    .hero__section__contentWrapper {
      padding-left: 30px;
      gap: 64px;
      max-width: 75vw;
      margin-top: -6vh;
    }
  
    /* About section  **************/
    .about__bio {
      padding: 0px 30px;
    }
  
  
    /* Contact sectioon ************/
  
    .section__contact {
      padding: 64px 0px;
    }
  
    .contact__email {
      font-size: 64px;
    }
  
  }
  
  
  @media only screen and (min-width : 1200px) {
  
    /************************ Toutes les sections  ********************/
    .sections__headers {
      padding: 0px 60px;
    }
  
    .sections__headers p {
      max-width: 50vw;
    }
  
  
    /* ************************************************************* */
  
    /* hero section **************************************************/
  
    .hero__section {
      display: flex;
      flex-direction: row-reverse;
    }
  
    .hero__section__banner {
      width: 50vw;
      height: 100vh;
      object-fit: cover;
      transform: translateX(200px);
      opacity: 0.3;
      animation: PhotoEntrance 0.3s 0.3s ease-in forwards;
    }
  
  
    .hero__section__contentWrapper {
      position: absolute;
      left: 0;
      padding-left: 60px;
      top: 180px;
      gap: 64px;
      transform: translateX(-200px);
      animation: contentWrapperEntrance 0.3s 0.3s ease-in forwards
    }
  
    .contentWrapper__description {
      max-width: 40vw;
    }
  
    /* About  */
  
    .about__responsive__wrapper {
      display: flex;
      flex-direction: row-reverse;
      gap: 64px;
      height: fit-content;
    }
  
    .about__bio {
      padding: 0px 0px 0px 60px;
    }
  
    /* Contact sectioon ************/
  
    .section__contact {
      padding: 64px 0px;
    }
  
    .contact__email {
      font-size: 80px;
    }
  
  }
  
  
  @media only screen and (min-width : 1700px) {
    .sections__headers {
      padding: 0px 105px;
      /* display: flex;
        flex-direction: column;
        gap: 16px; */
    }
  
  
    /* About */
  
    .about__responsive__wrapper {
      gap: 120px;
    }
  
  
    .about__bio {
      padding: 0px 0px 0px 105px;
    }
  
  
    /* Hero section */
    .hero__section__contentWrapper {
      position: absolute;
      left: 0;
      padding-left: 105px;
      top: 260px;
      gap: 64px;
      transform: translateX(-200px);
      animation: contentWrapperEntrance 0.3s 0.3s ease-in forwards
    }
  
    .contact__email {
      font-size: 88px;
    }
  
  }