.list__container {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 96px;
    padding: 0px 16px;
}

.responsive__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list__cards {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 1200px;
}

.cards__imageContainer {
    overflow: hidden;
}

.imageContainer__image {
    width: 100%;
    height: auto;
    /* max-height: 200px; */
    object-fit: cover;
    user-select: none;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
}


.cards__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cards__buttonContainer {
    margin-top: 8px;
    width: fit-content;
    display: flex;
    gap: 10px;
}


@media only screen and (min-width : 768px) {
    .list__container {
        padding: 0px 30px;
    }

    .list__cards {
        flex-direction: row;
        gap: 32px;
        height: fit-content;
        max-height: none;
    }

    .cards__imageContainer {
        min-width: 35vw;
    }

    .imageContainer__image {
        width: 35vw;
        min-width: 35vw;
        height: auto;
        object-fit: cover;
        background-color: var(--neutrals-800);
    }
}

@media only screen and (min-width : 1200px) {
    .list__container {
        padding: 0px 60px;
    }

    .cards__imageContainer {
        min-width: 25vw;
    }

    .imageContainer__image {
        min-width: 0;
        width: 25vw;
    }

    .responsive__wrapper {
        gap: 16px;
    }

    .cards__content {
        max-width: 45vw;
        gap: 16px;
    }
}

@media only screen and (min-width : 1700px) {
    .list__container {
        padding: 0px 105px;
    }

    .responsive__wrapper {
        gap: 24px;
    }

    .cards__content {
        gap: 24px;
    }

    .cards__imageContainer {
        min-width: 20vw;
    }

    .imageContainer__image {
        min-width: 0;
        width: 20vw;
    }
}