.list__container {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding: 0px 16px;
}

.list__cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.imageContainer__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.imageContainer__number {
    position: absolute;
    font-size: 2rem;
    color: var(--neutrals-100);
    padding: 0px 8px;
    font-family: var(--font-source);
    line-height: auto;
}

.cards__content { 
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cards__buttonContainer {
    margin-top: 8px;

}