.warning__message {
    font-weight: 600;
    padding: 16px;
    margin-top: 24px;
    width: 100%;
    background: var(--neutrals-700);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.warning__message__content a {
    text-decoration: underline;
    color: var(--primary-500);
    font-weight: 600;
}


.items__list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 0px 16px;
    margin-bottom: 200px;
}

.items {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
}

.items__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.items__photo {
    object-fit: cover;
    width: 80px;
    height: 80px;
    background-color: var(--neutrals-700);
}

.items__download__container {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.items__download__container p {
    color: var(--primary-600);
}

.line {
    width: 100%;
    height: 1px;
    background-color: var(--neutrals-200);
}

/* Loading spinner download  *********************************/
.downloadSpinner {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    animation: rotate 1s linear infinite
}

.downloadSpinner::before,
.downloadSpinner::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 3px solid #FFF;
    animation: prixClipFix 2s linear infinite;
}

.downloadSpinner::after {
    transform: rotate3d(90, 90, 0, 180deg);
    border-color: var(--primary-700);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

@keyframes prixClipFix {
    0% {
        clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0)
    }

    75%,
    100% {
        clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%)
    }
}

/* download all photos button  *******************/

.cartButton__page {
    width: 100%;
    background-color: var(--primary-800);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: var(--neutrals-200);
    border: none;
    outline: none;
    border-radius: 3px;
    font-family: var(--font-lato);
    font-size: 1.125rem;
    font-weight: 600;
}

.cartButton__page__icon {
    display: flex;
    align-items: center;
    gap: 2px;
}

.cartButton__page__icon span {
    font-size: 1rem;
}

@media only screen and (min-width : 768px) {
    .warning__message {
        max-width: 45vw;
    }

    .items__list {
        padding: 0px 30px;
        max-width: 60vw;
    }

    .items__download__container img {
        width: 40px;
        height: 40px;
    }

    /* dowload button */
    .cartButton__page {
        padding: 0px 48px;
        height: 45px;
        width: fit-content;
        align-self: center;
    }

    .cartButton__page__icon span {
        font-size: 1.125rem;
    }
}

@media only screen and (min-width : 1200px) {
    .warning__message {
        max-width: 35vw;
    }

    .items__list {
        padding: 0px 60px;
    }
}

@media only screen and (min-width : 1700px) {

    .items__list {
        padding: 0px 105px;
    }
}